.card {
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap: 1rem;
}
.main-title{
    background-color: #2B2D42;
    color:#ffff;
    height: 40px;
    width: 100%;
    text-align:center;
    padding:10px;
    margin:15px 0px 15px 0px;;
}
.tech-card-content{
    display: flex;
    flex-direction: column;
}
.link{
    text-decoration: none;
    padding:20px;
    color:black;
    font-weight: bolder;
}
.link:visited{
    color:grey;
}

@media(max-width: 500px){
    .card {
        grid-template-columns: repeat(1,auto);
        font-size: smaller;
    }
}