
<div class="main-title">
  <h1 class="mat-h3">HEADLINES IN INDIA</h1>
</div>
    <div class="card">
      
    <mat-card *ngFor="let article of articles">
           <div class="tech-card-content">
          <mat-card-header>
              <mat-card-title class="title">{{article.title}}</mat-card-title>
              <mat-card-subtitle>{{article.source.name}},{{article.publishedAt | date : 'short'}}</mat-card-subtitle>
            </mat-card-header>
           
            <mat-card-content>
              <div class="tech-card-image">
                <img mat-card-image class="img-article" src={{article.urlToImage}} alt="">
              </div>
               <a href={{article.source.url}} target="_blank" class="link">Read More</a>
            </mat-card-content>
          </div> 
       
    </mat-card>

</div>
