<mat-toolbar color="accent" class="top-toolbar">
    <h1>NewsViews</h1>
    <span><a routerLink="/technology" routerLinkActive="active" (click)="onCategorySelect()">Tech</a></span>
</mat-toolbar>
<div class="container">
    <app-source (sourceId) = "getSourceId($event)"></app-source>
    <div *ngIf="showHeadlines; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock><app-articles [sourceId]="source" ></app-articles></ng-template>
        <ng-template #elseBlock><router-outlet></router-outlet></ng-template>
        
</div>
<footer class="footer bg-dark">
    <div class="social">
      <a href="#"><i class="fab fa-github fa-2x"></i></a>
      <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
      <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
    </div>
    <p>Copyright &copy; 2020 - NewsViews</p>
  </footer>
