$visit: grey;
.news-card{
    display: flex;
    padding: 20px;
    margin: 10px;
    a{
        text-decoration: none;
        color: black;
        &:visited{
           color: $visit;
        }
        &:hover{
            cursor:pointer;
        }
        
    }
}
.news-card-image {
 flex: 0.8;
 background-size: cover;   
 padding-top: 40px;
 margin:10px;
 align-items: center;
}
.title{
    font-weight: bold;
}

.news-card-content{
    display: flex;
    flex-direction: column;
    flex: 4;
    padding: 10px;
    margin:10px;

    p{
        margin-left: 20px;
    }
    span{
        margin-left: 20px;
    }
}

@media(max-width: 500px){
    .news-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5px;
        padding: 5px;
        font-size: small;
    }
    .news-card-image{
        object-fit: contain;
    }
    .news-card-image{
        display:none;
    }
}
.date-footer {
    margin-left: 25px;
    margin-top: auto;

}
.main-title{
    background-color: #2B2D42;
    color:#ffff;
    height: 40px;
    width: 100%;
    text-align:center;
    padding:10px;
    margin:15px 0px 15px 0px;;
}