<div class="main-title">
  <h1 class="mat-h3">{{title | uppercase}} NEWS</h1>
</div>
<mat-card class="news-card"  *ngFor="let article of articles">
  <div class="news-card-image">
    <img mat-card-image class="img-article" src="assets/images/headlines.png" alt="NO IMAGE AVAILABLE">
  </div>
   <div class="news-card-content">
  <mat-card-header>
      <mat-card-title class="title"><a href={{article.url}} target="_blank">{{article.title}}</a></mat-card-title>
      <mat-card-subtitle>{{article.source.name}}</mat-card-subtitle>
      <mat-card-subtitle>{{article.publishedAt | date:'short'}}</mat-card-subtitle>
    </mat-card-header>
      <!--<mat-card-content>
      <p>
        {{article.description}}
      </p>
    </mat-card-content>
  <mat-card-footer>
      <p class="date-footer">Read More</a></p>
    </mat-card-footer>-->
  </div> 
</mat-card>   
