.source-name{
    font-size: 0.9em;
}
.list-nav{
    background: white;
    padding :10px;
    margin : 10px;
}
.list-item:hover{
    cursor: pointer;
    background-color: rgb(90, 93, 119);
    color: white;
   
}