.source-name{
    font-size: 0.9em;
}
.list-nav{
    background: white;
    padding :10px;
    margin : 10px;
}
.list-item:hover{
    cursor: pointer;
    background-color: rgb(90, 93, 119);
    color: white;
   
}

@media(max-width:800px){
    .list-nav{
            display:flex;
            flex-wrap:wrap;
            padding:0px;
           justify-content: space-around;
          }
    .list-item{
            flex:1;
            background-color: rgb(90, 93, 119);
            color: white;
            justify-content:space-around;
            text-align: center;
    }
}